<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleExecutable</key>
		<string>test</string>
		<key>CFBundleIdentifier</key>
		<string>ch.monar.monad</string>
		<key>CFBundleName</key>
		<string>Test</string>
		<key>CFBundleDisplayName</key>
		<string>Test</string>
		<key>CFBundleVersion</key>
		<string>0.0.0.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleIconFile</key>
		<string>Test.icns</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
	</dict>
</plist>
